<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.job.mapper.HomePageMapper">

    <select id="findAll" resultType="com.job.entity.HomePage">
    select * from cover_map;
  </select>

    <select id="findRecommend" resultType="com.job.entity.vo.JobListVo">
        select j.jobId,i.userId,j.jobTitle,j.releasePrice,j.jobNum,j.jobNum as surplusNum,t.typeName,j.jobSource,i.headimgurl,i.isMember,j.isRecommend
        from job j
        inner join job_type t on j.typeId=t.typeId
        inner join user_info i on j.userId=i.userId
        where j.auditStatus=3 and j.jobStatus=1 and j.isDelete=1
        order by j.isRecommend desc,j.refreshTime desc
    </select>

    <select id="isSignIn" resultType="java.lang.Integer">
        select count(1) from sign_in where userId=#{userId} and  activityTime=curdate()
    </select>

    <insert id="insertSignIn">
        insert into sign_in (userId,activityTime) values (#{userId},curdate())
    </insert>

    <select id="selectByUserId" resultType="com.job.entity.UserMoney">
        select * from user_money where userId=#{userId}
    </select>

    <select id="selectSignInMoney" resultType="com.job.entity.SignInMoney">
        select * from sign_in_money
    </select>

    <insert id="insertUserMoney" parameterType="com.job.entity.UserMoney">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                userId,
            </if>
            <if test="bond != null">
                bond,
            </if>
            <if test="balance != null">
                balance,
            </if>
            <if test="repaidBalance != null">
                repaidBalance,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="bond != null">
                #{bond,jdbcType=DECIMAL},
            </if>
            <if test="balance != null">
                #{balance,jdbcType=DECIMAL},
            </if>
            <if test="repaidBalance != null">
                #{repaidBalance,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
</mapper>