<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.job.mapper.JobTypeMapper" >
  <resultMap id="BaseResultMap" type="com.job.entity.JobType" >
    <id column="typeId" property="typeId" jdbcType="INTEGER" />
    <result column="typeName" property="typeName" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    typeId, typeName, introduce
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job_type
    where typeId = #{typeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job_type
    where typeId = #{typeId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.job.entity.JobType" >
    insert into job_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        typeId,
      </if>
      <if test="typeName != null" >
        typeName,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.job.entity.JobType" >
    update job_type
    <set >
      <if test="typeName != null" >
        typeName = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
    </set>
    where typeId = #{typeId,jdbcType=INTEGER}
  </update>

  <select id="findAll" resultType="com.job.entity.JobType">
    select * from job_type
  </select>
</mapper>