<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.job.mapper.UserJobMapper">
    <select id="findByUserId" resultType="com.job.entity.vo.JobListVo">
        select uj.taskId,j.jobId,j.jobTitle,j.releasePrice,t.typeName,j.jobSource,i.headimgurl,
        uj.enrollTime,uj.commitTime,uj.auditTime,uj.status,uj.refuseReason,uj.commitInfo
        from user_job uj
        inner join job j on uj.jobId=j.jobId
        inner join user_info i on j.userId=i.userId
        inner join job_type t on j.typeId=t.typeId
        <where>
            uj.userId=#{userId}
            <if test="status!=null">
                and uj.status=#{status}
            </if>
        </where>
        order by uj.status
    </select>

    <update id="updateUserJob">
        update user_job
        <set>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="refuseReason != null">
                refuseReason = #{refuseReason,jdbcType=VARCHAR},
            </if>
        </set>
        where taskId = #{taskId,jdbcType=INTEGER}
    </update>

    <select id="selectJobFinishNum" resultType="java.lang.Integer">
        select count(1) from user_job
        where status=4 and userId=#{userId}
    </select>

    <select id="findById" resultType="com.job.entity.UserJob">
        select * from user_job where taskId=#{taskId}
    </select>
</mapper>